//aplication color
$app-skyblue: #2f80ed;
$app-white: #ffffff;
$app-green: #83cc5e;
$app-gray: #a8afe3;
//aplication fonts
$form-title-font-size: 30px;
$form-subtitle-font-size: 20px;
$button-font-size: 13px;
$app-font-family: "Lato", sans-serif;

.success {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  &__title {
    font-size: $form-title-font-size;
    font-family: $app-font-family;
    margin-bottom: 2%;
    display: flex;
    b {
      font-size: $form-title-font-size;
      font-family: $app-font-family;
      font-weight: bold;
      color: $app-skyblue;
      margin-bottom: 2%;
    }
  }

  &__subtitle {
    font-size: $form-subtitle-font-size;
    font-family: $app-font-family;
    margin-bottom: 2%;
  }
}
