// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300&display=swap");

//aplication color
$app-skyblue: #2f80ed;
$app-white: #ffffff;
$app-green: #83cc5e;
$app-gray: #a8afe3;
//aplication fonts
$form-title-font-size: 30px;
$form-subtitle-font-size: 20px;
$button-font-size: 13px;
$policy-font-size: 12px;
$app-font-family: "Lato", sans-serif;

.form {
  padding-left: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    font-size: $form-title-font-size;
    font-family: $app-font-family;
    margin-bottom: 2%;
    display: flex;
    &__active {
      font-size: $form-title-font-size;
      font-family: $app-font-family;
      font-weight: bold;
      color: $app-skyblue;
      margin-bottom: 2%;
    }
  }

  &__subtitle {
    font-size: $form-subtitle-font-size;
    font-family: $app-font-family;
    margin-bottom: 2%;
  }
}

.button {
  background-color: $app-skyblue;
  color: $app-gray;
  width: fit-content;
  margin-top: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-right: 5%;
  padding-left: 5%;
  border: $app-skyblue 1px solid;
  border-radius: 5px;
  font-size: $button-font-size;
  font-family: $app-font-family;
  font-weight: bold;
  cursor: pointer;
  &__active {
    background-color: $app-skyblue;
    color: $app-white;
    width: fit-content;
    margin-top: 20%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-right: 5%;
    padding-left: 5%;
    border: $app-skyblue 1px solid;
    border-radius: 5px;
    font-size: $button-font-size;
    font-family: $app-font-family;
    font-weight: bold;
    cursor: pointer;
  }
}

.date{
  position: relative;
&__input {

  height: 56px;
  width: 80%;
  position: relative;
  margin-top: 20px;
  outline: 0;
  padding: 14px 16px 0 10px;

  &:focus{
    border-color: white;
   box-shadow: 1px 1px 1px #DDD inset, 1px 1px 1px #DDD;
   padding: 14px 16px 0 10px;

  }}

  &__label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    color: #999;
    pointer-events: none;
    position: absolute;
    top:14px;
    transform-origin: top left;
    transition: all 0.2s ease-out;
    transform: translate(0, 12px) scale(0.75);
  }
}

.input {
  display: flex;
  flex-direction: column;
  width: 80%;
  position: relative;
  margin-top: 20px;

  &__label {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    color: #999;
    pointer-events: none;
    position: absolute;
    transform: translate(0, 20px) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
  }
  &__label__active {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 12px;
    color: #999;
    pointer-events: none;
    position: absolute;
    transform-origin: top left;
    transition: all 0.2s ease-out;
    transform: translate(0, 12px) scale(0.75);
  }
  &__area {
    width: 100%;
    height: 56px;
    padding: 14px 16px 0 10px;
    outline: 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  }
  &:focus-within {
    .input__label {
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0 12px;
      color: #999;
      pointer-events: none;
      position: absolute;
      transform-origin: top left;
      transition: all 0.2s ease-out;
      transform: translate(0, 12px) scale(0.75);
    }
  }
}

.policy{
  display: flex;
  margin-top:5%;

  &__label{
    width: 52%;
    color:#999;
    margin-left:2%;
    font-size: $policy-font-size;
    font-family: $app-font-family;
  }
}