//aplication colors
$app-skyblue: #2f80ed;
$app-white: #ffffff;
$app-green: #83cc5e;
$app-gray: #dddd;

//text
$card-title-font-size: 12px;
$card-cost-font-size: 25px;
$app-font-family: "Lato", sans-serif;

.card_set {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 5%;

  &__card {
    border: 2px solid $app-gray;
    width: 110px;
    height: 110px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    padding-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    &__active {
      border: 2px solid $app-green;
      border-radius: 10px;
      width: 110px;
      height: 110px;
      padding-top: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: left;
      padding-left: 20px;
      cursor: pointer;
    }
    &__title {
      font-size: $card-title-font-size;
      font-family: $app-font-family;
      margin-bottom: 0px;
    }
    &__cost {
      font-size: $card-title-font-size;
      font-family: $app-font-family;
      margin-bottom: 0px;
      b {
        font-size: $card-cost-font-size;
        font-family: $app-font-family;
      }
    }
    &__label {
      font-size: $card-title-font-size;
      font-family: $app-font-family;
    }
    &__icon {
      width: 20px;
      height: 20px;
      align-self: flex-end;
      margin-right: 5%;
    }
  }
}
